<!--<div class="row body-container">
  <div class="col s10">
    <div class="row">
      <div class="col s12">
        <button (click)="increment()">Increment</button>
        <div>Current Count: {{ counter | async }}</div>
        <button (click)="decrement()">Decrement</button>
      </div>
    </div>
  </div>
</div>-->

<div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container">
      <p *ngFor="let item of items | async">
        <i mz-icon-mdi [align]="'left'" [flip]="'v'" [icon]="'puzzle'" [size]="'25px'"> </i>{{item.message}}</p>
  </div>
</div>